@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

button.generateQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50em;
  width: 50em;
  border-radius: 50%;
  background: var(--panic);
  border: 1px solid #000;
  box-shadow: 0 0 25px #000;
  cursor: pointer;
}

.hidden {
  display: none;
}

.generateQuote:active {
  transform: translateY(10px);
}

label.generateQuote {
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 10em;
  text-align: center;
  cursor: pointer;
}
